extends layout

block content
    div.col-lg-2
        ul
            for system in systems
                li
                    a(href="/?system=" + system._id)=system.name

            li
                a(href="/") All Systems
            li
                a(href="/systems/create") Create System            
            li
                a(href="/systems") Manage Systems
    div.col-lg-10
        for quota in quotas
            div.col-lg-12
                p I must #{quota.action} at least #{quota.instances} time(s) every #{quota.periodMultiplier} #{quota.timeFrame}(s)